<!--
 * @Date: 2024-04-29 21:52:30
 * @LastEditors: Qianshanju
 * @E-mail: z1939784351@gmail.com
 * @LastEditTime: 2024-05-04 21:11:03
 * @FilePath: \Graduation_Project\核心代码\templates\audiologist.html
-->
<h1>从听障患者到听力学家</h1>
<p class="timeAndAuthor">2023年7月13日 新加坡国立大学医院</p>
<div class="article_image">
    <img src="static/audiologist_1.png" alt="图片丢失">
</div>
<p class="article_text">作为新加坡唯一一位植入人工耳蜗的听力学家，林雅慧女士希望能激励其他听力受损者相信，他们也可以过上充实的生活。</p>
<p class="article_text">当林雅慧还是个小女孩的时候，她常常对自己去看听力学医生的约会感到厌烦，由 , Audiology 副教授领导的 。</p>
<p class="article_text">在这些会诊结束时，林女士常常离开卢医生的办公室感到沮丧，因为她的听力继续恶化。</p>
<p class="article_text">“那时候，我真的不喜欢去约会，”林女士分享道。“每次去看她，我都得做听力测试。随着我的听力逐渐变差，我总是‘不及格’，让我感到非常挫败和失望。”</p>
<p class="article_text">从三岁开始戴助听器的林女士也不明白与卢医生会面的目的。</p>
<p class="article_text">“她不相信或理解为什么我们要为她的听力做这么多测试，”卢医生解释道。“她总是认为我们在会诊期间做的任何测试都不能反映她的听力状况。这是因为测试是在受控环境中进行的，但听力障碍者通常在嘈杂的环境中听力更困难。”</p>
<p class="article_text">一个内向的孩子</p>
<p class="article_text">天生害羞的林女士随着状况恶化而变得更加内向，甚至连助听器也无法帮助她。</p>
<p class="article_text">这就是为什么尽管最初有所保留，林女士最终还是在2014年接受了人工耳蜗（CI）手术。</p>
<p class="article_text">“雅慧的交流能力因听力丧失而受到严重影响，所以她几乎不与人交流，即使是与家人，她也会变得沉默寡言，”卢医生回忆道。</p>
<p class="article_text">“她的状况影响了耳朵内部的部分，即耳蜗，这不能通过药物或手术修复。她的听力逐渐恶化，原因无法确定，除非进行基因测试。”</p>
<p class="article_text">“雅慧的听力从轻度到中度，逐渐变为重度，最终变为深度。一旦听力达到深度范围，助听器通常不再有效，他们就必须接受人工耳蜗手术。”</p>
<p class="article_text">由于人工耳蜗传递的声音是电子的，而不是声学的，林女士花了一些时间适应这个植入物。然而，一旦适应，林女士开始走出自己的壳，对与他人交流更加自信。</p>
<p class="article_text">在这个过程中，林女士终于理解并赞赏了卢医生在她成长岁月中扮演的关键角色。</p>
<p class="article_text">成为一名听力学家的培训</p>
<p class="article_text">确实，出于希望帮助其他像她一样的听力受损儿童，林女士决定追随卢医生的脚步，成为一名听力学家。</p>
<div class="article_image">
    <img src="static/audiologist_2.jpg" alt="图片丢失">
</div>
<p class="article_text">林女士认为这是一个能够让她对他人生活产生影响的职业，她说：“作为听障者，我更容易理解其他有同样状况的人正在经历什么。</p>
<p class="article_text">“当我年轻的时候，有很多次我感到沮丧，因为我觉得没有人能理解我的困境。</p>
<p class="article_text">“许多正常听力的人并不了解。最常见的误解是，仅因为我们戴着助听器，就意味着我们可以完美地听见。但我们仍然面临背景噪音带来的困难，这影响了我们听到的单词和声音。”</p>
<p class="article_text">上个月，林女士终于从新加坡国立大学（NUS）的听力学硕士（MSc Audiology）项目毕业。</p>
<p class="article_text">卢医生于2013年在NUS创办了听力学硕士项目，以满足新加坡对听力服务的需求，她透露，这是患者成为她的学生的首次，她说：“我为雅慧走过的路感到非常自豪。这门课程本身并不容易，不管你是否听力受损。</p>
<p class="article_text">“但我不得不说，她做得相当不错，现在她能够理解我们在她成长过程中经历的所有评估和听力测试的价值。</p>
<p class="article_text">“尽管如此，我总是告诉她，她在看待患者时必须客观。即使他们和她一样有听力问题，作为一名医护专业人员，她仍然应该保持一定的界限。”</p>
<div class="article_image">
    <img src="static/audiologist_3.jpg" alt="图片丢失">
</div>
<p class="article_text">帮助听力障碍儿童</p>
<p class="article_text">林女士已经加入了卡诺西儿童发展单位，该单位支持有特殊教育需求的儿童的全面发展，担任听力学家，她的目标是成为她的患者的激励源，鼓励他们相信自己有能力过上充实的生活。</p>
<p class="article_text">通过她的工作，她努力灌输希望，并鼓励她的患者接纳自己的潜力。</p>
<p class="article_text">“我遇到过一些患者，在注意到我也有听力损失后感到宽慰，因为他们知道他们并不孤单，”林女士说道。“当我年轻的时候，我总希望有人能够与我产生共鸣。现在，我可以成为我的患者的那个人，分享我的经历和观点。”</p>
<p class="article_text">卢医生补充说，林女士是听力学专业多年来取得进展的一个典范。她说：“20年前没有人真正了解我们，但现在我们得到了更多的认可。能够影响我的患者之一成为听力学家，这远远超出了我的期望。</p>
<p class="article_text">“雅慧将成为下一代听力学家中的一员，推动这个行业的发展。我认为她会做得很好——她经历了具有挑战性的听力学课程，并可以利用自己的经验来帮助她的患者。她是听力障碍者可以取得的成就的典范。”</p>
<p class="article_text"></p>