<!--
 * @Date: 2024-04-29 22:18:59
 * @LastEditors: Qianshanju
 * @E-mail: z1939784351@gmail.com
 * @LastEditTime: 2024-05-04 21:13:22
 * @FilePath: \Graduation_Project\核心代码\templates\GCSE.html
-->
<h1>
    威尔士手语GCSE为何推迟
</h1>
<p class="timeAndAuthor">2024年3月26日 贝瑟·刘易斯</p>
<div class="article_image">
    <img src="static/GCSE_1.jpg" alt="图片丢失">
</div>
<p class="article_text">在英国手语中，就像其他语言一样，手势会因你所在的地区而异。</p>
<p class="article_text">颜色、数字和诸如“早上好”之类的短语因地区而异。</p>
<p class="article_text">对威尔士新GCSE中方言如何体现的额外考虑是该资格证书推迟一年的原因之一。</p>
<p class="article_text">原计划于2026年9月推出，但现在将从2027年开始教授。</p>
<p class="article_text">一位专家表示，暂停是为了确保GCSE的高质量。</p>
<p class="article_text">英国手语（BSL）教师和活动家萨拉·劳伦斯（Sarah Lawrence）说：“这是一个很好的机会，但必须做得正确。”</p>
<p class="article_text">她说，教授BSL的合格教师数量不足。</p>
<p class="article_text">“实际上有两个很大的问题，”她说。</p>
<p class="article_text">“首先是有资质的教师，但他们缺乏BSL技能，然后有高水平BSL技能的人，但并不一定有教学资格。”</p>
<p class="article_text">她说，一些聋人社区的人认为只有聋人才能教授BSL。</p>
<p class="article_text">但萨拉不同意，她说“我们怎么可能有足够多的聋人来教授呢？”</p>
<div class="article_image">
    <img src="static/GCSE_2.jpg" alt="图片丢失">
</div>
<p class="article_text">新的BSL资格证书是作为威尔士GCSE改革的一部分引入的。</p>
<p class="article_text">领导这些变革的威尔士资格委员会（Qualifications Wales）表示，目标是使其准备好在2027年9月首次教授，作为威尔士定制GCSE的分阶段推出的一部分。</p>
<p class="article_text">它表示，由于这是一个全新的资格证书，存在“额外的挑战”。</p>
<p class="article_text">根据威尔士资格委员会的说法，其中一个挑战是“建立一套语言和区域方言差异的约定词汇”。</p>
<p class="article_text">它表示，与其他英国地区不同，威尔士“目前没有集中手语新词汇的途径”。</p>
<p class="article_text">劳伦斯女士是“威尔士区域方言”的专家，并坚信它应该在资格证书中得到体现。</p>
<p class="article_text">历史上，不同的方言与聋人学校的位置有关，这导致了一些最基本术语（如颜色、“人”或“蛋糕”）的不同手势。</p>
<p class="article_text">她说，年轻的聋人也经常使用不同的手势。</p>
<div class="article_image">
    <img src="static/GCSE_3.jpg" alt="图片丢失">
</div>
<p class="article_text">在卡菲利郡圣亨尼德的Nant y Parc小学，学生们已经熟悉了这种语言。</p>
<p class="article_text">奥西安和他的同学们在六年级开始学习BSL。</p>
<p class="article_text">“如果有人是聋人，我可以和他们开始对话，”他说。</p>
<p class="article_text">马里喜欢分享她学到的东西。</p>
<p class="article_text">“我喜欢教我在足球俱乐部、不在这所学校的父母和朋友如何使用BSL，”她说。</p>
<p class="article_text">Khyas说，这是一个有用的技能：“你可以在体育运动中使用它，在学校中使用它，在离开学校去工作时也可以使用它——你可以在任何地方使用它。”</p>
<p class="article_text">“他们用BSL请求去厕所”</p>
<p class="article_text">负责学校课程的艾玛·温特（Emma Winter）说，学生的反应“非常积极”。</p>
<p class="article_text">她说：“学生们实际上在课堂上使用BSL——用BSL请求去厕所只是一个小例子。”</p>
<p class="article_text">“我们现在在任何圣诞音乐会表演中都使用它——它被纳入我们的艺术节。”</p>
<p class="article_text">学校引入它是为了让学生“学习用各种方式交流，这将有助于他们最终离开学校进入这个大世界”。</p>
<div class="article_image">
    <img src="static/GCSE_4.jpg" alt="图片丢失">
</div>
<p class="article_text">该GCSE将面向聋人和听力儿童，并适合初学者。</p>
<p class="article_text">威尔士资格委员会表示，他们将于今年晚些时候就资格证书设计进行磋商。</p>
<p class="article_text">它表示，主要重点将是使用语言进行交流，同时还将涵盖BSL的历史部分。</p>
<p class="article_text">英格兰将从2025年9月开始推出独立的英国手语GCSE。</p>
<p class="article_text"></p>
<p class="article_text"></p>