<!--
 * @Date: 2024-04-29 21:22:39
 * @LastEditors: Qianshanju
 * @E-mail: z1939784351@gmail.com
 * @LastEditTime: 2024-05-04 21:14:47
 * @FilePath: \Graduation_Project\核心代码\templates\kindergarten.html
-->
<!--
 * @日期：2024年4月29日 21:22:39
 * @最后编辑者：Qianshanju
 * @电子邮件：z1939784351@gmail.com
 * @最后编辑时间：2024年4月29日 22:34:14
 * @文件路径：\Graduation_Project\核心代码\templates\kindergarten.html
-->
<h1>幼儿园融合：混合听力群体带来积极结果</h1>
<p class="timeAndAuthor">2024年1月14日 莲娜·查, 陈文琳</p>
<div class="article_image">
    <img src="static/Kindergarten_1.jpg" alt="图片丢失">
</div>
<p class="article_text">新加坡：教室里传来她们的咯咯笑声，三个女孩跑向游戏厨房，开始组装迷你热狗和披萨。</p>
<p class="article_text">她们排队，向穿着围裙的“厨师”递交假钱，找到位置吃他们的“食物”。但在兴奋中，8岁的Thea Ow动作太快，把玩具香肠撞落在桌子和地板上。</p>
<p class="article_text">她的两个朋友，Azza Darwisya Lee和Nur Alana Alisha Muhammad Asyraf，再次笑了。“她把地板弄脏了，”Alana笑着说。她拍了拍Thea的肩膀，用手语告诉她：“捡起来！”</p>
<p class="article_text">对于一般观察者来说，很难分辨出其中两个女孩有听力障碍。</p>
<p class="article_text">在去年的K2班上，位于教育部（MOE）美丽花园幼儿园的13名学生中，有四名学生有中度至重度的听力障碍，并使用新加坡手语进行交流。</p>
<p class="article_text">但对于她们的同学们来说，显眼的是其他方面的不同——肤色、头发长度，甚至是他们拿的水瓶。</p>
<p class="article_text">“我们的头发不一样，”Alana在被问及她的朋友是否像她时，指着Thea的马尾辫说道。“我的头发很短，不能扎。”</p>
<div class="article_image">
    <img src="static/Kindergarten_2.jpg" alt="图片丢失">
</div>
<p class="article_text"></p>
<p class="article_text">在这个教室里，有不同听力能力的儿童继续并肩学习，每天都在学习包容和自信，而不是明确地教导。</p>
<p class="article_text">学习这些内容的不仅仅是孩子们，还有家长、教师，甚至是幼儿园的访客。</p>
<p class="article_text">推动工作的开展</p>
<p class="article_text">在美丽花园小学内的这个幼儿园于2021年开始运营之前，这项倡议的轮子已经开始转动。教育部在2020年11月宣布，该幼儿园将从2022年开始支持中度至深度听力障碍的儿童。</p>
<p class="article_text">当中心主任Melina Chen第一次通过部门的电子邮件听到这个消息时，她的第一反应是兴奋。然后，她开始担心。“哦，亲爱的，”她回忆道。“我们如何与这些孩子沟通？”</p>
<p class="article_text">确实，这个幼儿园将要采用的模式并不是新的：美丽花园小学自2018年起就是听力障碍学生的指定小学。他们与听力正常的同学一起上课，由一位专门的手语老师支持，用新加坡手语向他们传达课程内容。</p>
<p class="article_text">Chen说，随后来自部门代表的多次访问让她感到安心。但在那时，她团队中没有人懂手语或者如何与听力障碍的孩子互动，更不用说教他们了。</p>
<p class="article_text">她和她的老师们一起开始研究如何吸引孩子的注意力，让他们参与活动，甚至关于教室座位安排最佳线程的研究。</p>
<p class="article_text">“我们组织了不同小组做不同的展示，”她说。“我们希望在接收孩子之前做好充分的准备。”</p>
<p class="article_text">但真正推动事情进展的是这个幼儿园的专职手语老师，于2021年中加入了团队。</p>
<p class="article_text">Bernadette Pung在美丽花园小学担任类似职务已经四年，决定加入幼儿园是因为她对与更小的孩子一起工作感兴趣。她记得，她的新同事中有许多人不懂手语，但他们都是愿意学习者。</p>
<p class="article_text">她安排美丽花园小学的一位老师前来幼儿园，讲述聋人文化。这位老师还向他们展示了一些日常用语，他们可以在与孩子们交流时使用，比如“厕所”、“老师”和“快乐”。</p>
<p class="article_text">教室空间和学习材料也进行了调整。字母和指定教室不同角落的图片旁边附有它们在手语中的对应。</p>
<div class="article_image">
    <img src="static/Kindergarten_3.jpg" alt="图片丢失">
</div>
<p class="article_text">“听力障碍的孩子可以（使用手势）进行参考检查，而听力正常的孩子可以在他们的带领下学习。”Chen说。</p>
<p></p>