<!--
 * @Date: 2024-04-29 22:42:56
 * @LastEditors: Qianshanju
 * @E-mail: z1939784351@gmail.com
 * @LastEditTime: 2024-05-04 21:23:04
 * @FilePath: \Graduation_Project\核心代码\templates\more_info_article.html
-->
<h1>
    请不要称呼我们为“聋哑人”。
</h1>

<p class="article_text">现状</p>
<p class="article_text"></p>
<p class="article_text">在收到朋友关于针对聋哑社区的产品的消息后，看到新闻报道了一位顽强的聋哑年轻人的成就，并听到我尊敬的视障兄弟多次提到“我的聋哑朋友”，以及听到手语翻译和特殊学校老师称呼“聋哑学生”的情况下，我们不禁感到有必要发声。我们不称自己为“聋哑人”。</p>
<p class="article_text"></p>
<p class="article_text">在医学术语中，“哑”指的是“言语障碍”，表明言语产生器官存在障碍。然而，我们仅仅是听力受损，而非言语器官问题。由于我们听不见或听不清楚，无法通过听觉纠正发音。因此，我们的发音可能不清晰或包含发音错误，这源于我们的听力障碍。</p>
<p class="article_text"></p>
<p class="article_text">因此，我们将自己称为“聋人”或“听力受损者”。官方术语是“听力障碍者”。</p>
<p class="article_text"></p>
<p class="article_text">进一步扩展，英文中对“哑”的术语是“mute”。在英语国家，听力受损者被称为“聋（主要使用手语进行交流的人）”或“听力受损（主要使用口语进行交流的人）”，没有等同于“聋哑人”的术语。</p>
<p class="article_text"></p>
<p class="article_text">历史起源</p>
<p class="article_text"></p>
<p class="article_text">当然，术语的起源有其历史根源。</p>
<p class="article_text"></p>
<p class="article_text">1956年，成立了“中国聋人协会”，对听力障碍者的学校称为“聋哑学校”。</p>
<p class="article_text"></p>
<p class="article_text">1988年，中国残疾人联合会成立，听力障碍个体组织的标准名称是“中国聋人协会”，放弃了“聋哑人”一词，采用通用的“聋”术语。</p>
<p class="article_text"></p>
<p class="article_text">中国聋人协会章程目前定义的“聋人”包括具有听力和言语障碍、严重听力丧失、植入耳蜗的人士等。</p>
<p class="article_text"></p>
<p class="article_text">同年成立的“中国聋儿康复中心”开始专业康复，并推广“十聋九不哑”的概念。</p>
<p class="article_text"></p>
<p class="article_text">1995年，得到中国残疾人联合会主席邓朴方的支持，来自澳大利亚的耳蜗植入器首次进入中国。随后，中国残疾人福利基金会的“王永庆工程”逐渐扩展，中国残疾人联合会的“0-6岁残疾儿童救助康复工程”得到成功实施，为“十聋九不哑”的倡议取得了实质性的成就。</p>
<p class="article_text"></p>
<p class="article_text">随着更多康复的听力受损儿童融入常规学校，与典型学生一起学习，接受包容性教育，听力受损者学校由于入学人数减少而被合并或改名为“特殊教育学校”。</p>
<p class="article_text"></p>
<p class="article_text">选择不说话≠哑</p>
<p class="article_text"></p>
<p class="article_text">一些朋友感到困惑，说：“我见过的听力受损者不说话；他们不是聋哑吗？”</p>
<p class="article_text"></p>
<p class="article_text">事实上，一些听力受损者不说话的原因是由于他们无法听见或听清楚，无法纠正发音。当他们说话时，可能听起来像婴儿说话，外国人说汉语，或者就像嘴里含着东西……这种现象被专业语言康复教师称为“病态口音”，是听力受损者独有的。</p>
<p class="article_text"></p>
<p class="article_text">如果社会不熟悉这种口音，可能会产生误解，认为这是言语障碍，甚至质疑他们的智力。</p>
<p class="article_text"></p>
<p class="article_text">一位特殊学校的老师曾说：“不要假设特殊学校的听力受损儿童只能使用手语；很多人可以说话。”然而，他们经常害怕被嘲笑，更喜欢用手语交流。</p>
<p class="article_text"></p>
<p class="article_text">一些长期使用手语的人在家庭中具有基本的口头表达能力。因为家人熟悉他们的交流方式，他们能理解其意图。虽然他们可能说话谨慎，但很多词仍然能够被识别，不像戏剧中描述的那样发出奇怪的声音。然而，当他们踏入社会时，很多人选择不说话，有时害怕开口。</p>
<p class="article_text"></p>
<p class="article_text">听力受损者看起来在身体上没有缺陷，与典型人群相似。选择不说话赢得了尊重，而说话可能会降低他们的地位。这种恶性循环经常导致听力受损者选择不说话。</p>
<p class="article_text"></p>
<p class="article_text">然而，这对一些听力受损者来说是有代价的。与任何技能一样，说话能力遵循“用则不废”的原则。长时间的沉默会导致发音器官僵硬，大脑语言区域接收到不足的刺激，使说话变得更加困难。野生儿童的著名案例证明了这一观点。专业的语言康复教师通过广泛的研究和实践证明，除非存在器质性损伤，语言可以通过科学康复和充足的听觉补偿重新学习，结合自信。</p>
<p class="article_text"></p>
<p class="article_text">我们能说话，但我们确实有听力障碍。</p>
<p class="article_text"></p>
<p class="article_text">自中国改革开放以来，助听器和耳蜗植入器进入市场，康复政策得到改善。这些进步帮助更多的听力受损者听到声音。许多从小戴助听器和耳蜗植入器的听力受损者经过严格的康复，继续说话。今天，在中国，“十聋九哑”的历史已经成为过去，“十聋九不哑”取而代之。更多的听力受损者现在可以流利地说话，交流顺畅。</p>
<p class="article_text"></p>
<p class="article_text">然而，听觉补偿因人而异。一些人使用助听器效果显著，而另一些人需要耳蜗植入器进行听力重建。同样，康复水平也有差异；有些人口齿不清或发音不准确，而其他人讲话流利，听不出病态口音的迹象。显然，听力敏锐度和语音识别对说话清晰度产生很大影响。</p>
<p class="article_text"></p>
<p class="article_text">因此，社区提出了新的问题和关切：</p>
<p class="article_text"></p>
<p class="article_text">“你听力有问题，你怎么能说话？”</p>
<p class="article_text"></p>
<p class="article_text">“你说得很好，你真的是听力受损吗？”</p>
<p class="article_text"></p>
<p class="article_text">听力受损者申请残疾证明卡面临困难：</p>
<p class="article_text"></p>
<p class="article_text">“既然你植入了耳蜗，看起来很正常，你还算残疾吗？”</p>
<p class="article_text"></p>
<p class="article_text">“你确定要申请听力残疾证明卡吗？你反应这么好，你真的是听力受损吗？”</p>
<p class="article_text"></p>
<p class="article_text">尽管助听器、耳蜗植入器和听力配件的最新进展，涵盖了不同程度的听力损失，并且具备自动音量和定向声音调整等智能功能，但这些设备仍然无法达到人耳在信息收集、处理和整合方面的精确性和效率。</p>
<p class="article_text"></p>
<p class="article_text">例如，在嘈杂或拥挤的环境中，一些听力设备难以有效过滤重要信息。此外，助听器和耳蜗植入器需要硬件组件和调整。在校准过程中过度补偿或不足补偿可能影响可用性。相比之下，人耳不受这些因素的影响。</p>
<p class="article_text"></p>
<p class="article_text">在这种情况下，听力受损者不仅必须在有限的声音信息中反复完善他们的听觉和口语技能，还必须及时纠正和补偿间歇性的信息缺失。在助听器不实用的情况下，如睡觉或洗澡（因为助听器容易受潮损坏），弱势群体必须保持警惕。</p>
<p class="article_text"></p>
<p class="article_text">因此，尽管有助听器和耳蜗植入器的可用性，但这些设备与人耳之间仍存在显著差距。听力障碍本质上是一种终身的生理状况。</p>
<p class="article_text"></p>
<p class="article_text">听力障碍：无法准确描述的残疾</p>
<p class="article_text"></p>
<p class="article_text">正如社区工作者在听力受损者申请残疾证明卡时所评论的：“你确定要申请听力残疾证明卡吗？你反应这么好，你真的是听力受损吗？”这清楚地反映了长期以来的假设，“听力等于说话”，有些人认为“如果你听不见，你就不会说话”。此外，大多数人缺乏快速判断某人是否听力受损的手段。</p>
<p class="article_text"></p>
<p class="article_text">听力障碍是最不可见的感觉障碍，个体无法根据外貌或行为来分辨。站在听力受损者对面，典型人群看不出他们之间的差异。“听力”与“声音”一样无法描述。</p>
<p class="article_text"></p>
<p class="article_text">只有在背后呼唤听力受损者的名字、经历紧急的口头警告或进行交流并遇到中断时，细心的个体才能察觉到细微的差异。</p>
<p class="article_text"></p>
<p class="article_text">在不久的将来，随着科学技术的快速发展，听觉信息的可及性将得到改善，听力受损者将自信地主张他们作为社会平等成员的权利，克服心理障碍，寻求理解和支持，打开更多沟通和信息获取的便利之门。</p>
