<!--
 * @Date: 2024-02-16 15:25:30
 * @LastEditors: Qianshanju
 * @E-mail: z1939784351@gmail.com
 * @LastEditTime: 2024-05-04 21:34:32
 * @FilePath: \Graduation_Project\核心代码\templates\pay_for_us.html
-->
<!--
 * @Date: 2024-02-16 15:25:30
 * @LastEditors: Qianshanju
 * @E-mail: z1939784351@gmail.com
 * @LastEditTime: 2024-02-16 23:12:29
 * @FilePath: \Graduation_Project\前端代码\index.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页-春天使者</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/script.js"></script>
    <script>
        window.onload = check_cookie();
    </script>
    <style>
        .main{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 600px; /* 设置容器高度，可根据需要调整 */
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="head">
        <img src="static/logo.png" alt="some_text" class="logo">
        <div class="button-container">
            <a href="/">
                <button class="button">首页</button>
            </a>
            <a href="/手语识别">
                <button class="button">手语识别</button>
            </a>
            <a href="/news">
                <button class="button">最新消息</button>
            </a>
            <a href="/more_info">
                <button class="button">了解更多</button>
            </a>
            <a href="/pay_for_us">
                <button class="button">付费捐赠</button>
            </a>
            <a href="/connect_us">
                <button class="button">联系我们</button>
            </a>
        </div>
    </div>
    <div class="glass-container">
        <div class="glass-content">
            <div class="main">
                <img src="/static/收款码.png" alt="" height="400px">
                <h1>
                    感谢您为听障人士做出的贡献！
                </h1>
            </div>
            
        </div>
    </div>
</body>

</html>
