<!--
 * @Date: 2024-04-29 22:10:39
 * @LastEditors: Qianshanju
 * @E-mail: z1939784351@gmail.com
 * @LastEditTime: 2024-05-04 21:12:19
 * @FilePath: \Graduation_Project\核心代码\templates\poet.html
-->
<h1>
    Rhyl：手语诗人多萝西·迈尔斯荣获紫色牌匾
</h1>
<p class="timeAndAuthor">2024年4月26日 凯特琳·奥卡拉汉，保罗·皮戈特</p>
<div class="article_image">
    <img src="static/poet_1.jpg" alt="图片丢失">
</div>
<p class="article_text">一位备受赞誉的聋人表演者和手语诗人已成为第16位被授予紫色牌匾的“杰出”威尔士女性。</p>
<p class="article_text">多萝西·“多特”·迈尔斯于1931年出生于丹比郡的赖尔，并在八岁时因脑膜炎失去了听力。</p>
<p class="article_text">她成为了英国手语和聋人社区文学遗产的重要人物。</p>
<p class="article_text">她的侄女丽兹·德弗里尔说她“努力确保聋人知道他们在世界上有自己的位置”。</p>
<p class="article_text">她回忆起她姑姑的诗歌“真诚地源自内心，特别是她的手语诗歌，这是一种美丽的交流形式”。</p>
<p class="article_text">是为了提升“威尔士杰出女性”的认可度。</p>
<p class="article_text">德弗里尔女士在揭幕仪式后表示，她姑姑的灵感来自威尔士的风景，她以自己来自威尔士为荣。</p>
<div class="article_image">
    <img src="static/poet_2.jpg" alt="图片丢失">
</div>
<p class="article_text">在年幼时开始练习诗歌并在成为聋人后，多特她说，渴望开启“一个全新的社区，弥合聋人和听力障碍者之间的鸿沟”。</p>
<p class="article_text">由于威尔士缺乏专业教育，她上了苏塞克斯的学校，并获得了前往华盛顿特区盖洛德大学（Gallaudet University）的奖学金，该校是一所聋人学校。</p>
<p class="article_text">她热情洋溢的表演和夸张的手语风格激励了聋人。</p>
<p class="article_text">多特在美国呆了20年，并在美国首都的国家剧院教聋人学生。</p>
<p class="article_text">她参与了BBC关于聋人节目和《看得见的听得见》节目的初期讨论，该节目是一个长期播出的电视杂志节目，重点关注影响聋人社区的问题。</p>
<p class="article_text">多萝西·迈尔斯文化中心于1992年开放，以纪念她作为“著名的聋人诗人和剧作家以及英国手语和聋人社区文学遗产的重要人物”的工作。它发展成为，一个旨在继续弥合聋人和听力世界之间鸿沟的组织。</p>
<p class="article_text">多特于1993年1月去世，享年61岁。</p>
<p class="article_text">苏·埃塞克斯（Sue Essex），的主席表示：“多萝西的遗产今天仍然在聋人社区中庆祝，但在听力世界中并不为人所熟知。</p>
<p class="article_text">“通过为她揭开紫色牌匾，我们希望改变这一点。</p>
<p class="article_text">“她在生活中克服了困难，产生了持久的影响——她是杰出女性的真正定义，也是紫色牌匾值得的获得者。”</p>
<p></p>